<br>
<nav class="menu_inf row">
    <div class="col-md-3">
        <img src="img/menu_inferior/grid-30.png" class="svg-icon" height="30px" width="30px">
        <img src="img/menu_inferior/lista-off-30.png" class="svg-icon" height="30px" width="30px">
    </div>
    <div class="col-md-2 text-center">
<!--
            <div class="form-group">
                <ui-select ng-model="filter.status" theme="bootstrap">
                <ui-select-match placeholder="Filtrar por status...">{{$select.selected}}</ui-select-match>
                <ui-select-choices repeat="item in status | filter: $select.search">
                    {{item}}
                </ui-select-choices>
                </ui-select>
            </div>
-->
		<select style="width: 200px;" ng-model="filter.status" placeholder="Filtrar por status...">
			<option ng-repeat="item in status | filter: $select.search">{{item}}</option>
		</select>
    </div>
    <div class="col-md-2 text-center">
            <div class="form-group">
                <ui-select ng-model="filter.ordem" theme="bootstrap">
                <ui-select-match placeholder="Ordenar por...">{{$select.selected}}</ui-select-match>
                <ui-select-choices repeat="item2 in ordem | filter: $select.search">
                 {{item2}}
                </ui-select-choices>
                </ui-select>
            </div>
    </div>
    <div class="col-md-3">
            <form action="">
                <input type="checkbox" name="favoritos" ng-model="filter.favorite"> Mostrar somente favoritos
           	</form>
    </div>
    <div class="col-md-2">
        <input class="" ng-model="filter.name" placeholder="Pesquisar por..."> 
    </div>
</nav>
