<nav class="menu_sup">
    <ul>
        <li ng-click="open('sm','modules/repositorio/views/partials/nova_pasta.html')">
            <img src="img/menu_superior/pasta-30.png" class="svg-icon" height="30px" width="30px"></li>
        <li ng-click="open('sm','modules/repositorio/views/partials/nova_coleta_escolha.html')">
                <img src="img/menu_superior/arquivo-30.png" class="svg-icon" height="30px" width="30px"></li>
        <li ng-click="open('sm','modules/repositorio/views/partials/nova_visualizacao.html')">
                <img src="img/menu_superior/visualizacao-off-30.png" class="svg-icon" height="30px" width="30px"></li>
        <li ng-click="open('sm','modules/repositorio/views/partials/nova_visualizacao_rapida.html')">
            <img src="img/menu_superior/estatisticasBasicas-off.png" class="svg-icon" height="30px" width="30px"></li>
        <li ng-click="cliquei('mover')">
            <img src="img/menu_superior/mover-off-30.png" class="svg-icon" height="30px" width="30px"></li>
        <li ng-click="cliquei('lixeira')" style="border-right: 1px solid #CCCCCC">
            <img src="img/menu_superior/excluir-off-30.png" class="svg-icon" height="30px" width="30px"></li>
        <li ng-click="cliquei('play process')">
                <img src="img/menu_superior/playProcess-off-30.png" class="svg-icon" height="30px" width="30px"></li>
        <li ng-click="cliquei('stop process')">
                <img src="img/menu_superior/stopProcess-off-30.png" class="svg-icon" height="30px" width="30px"></li>
        <li><ul style="float:right; margin: 0px;">
                <li ng-click="cliquei('upload')">
                    <img src="img/menu_superior/upload-30.png" class="svg-icon" style="width: 30px; height:30px;"></li>
                <li ng-if="selected.length == 0">
                    <img src="img/menu_superior/baixar-off-30.png" class="svg-icon" style="cursor: default; width: 30px; height:30px;"></li>
                <li ng-if="selected.length > 0" ng-click="cliquei('download')">
                    <img src="img/menu_superior/baixar-30.png" class="svg-icon" style="width: 30px; height:30px;"></li>
        </ul></li>
    </ul>
    
</nav>
<br><br><br>