<div class="str_main repositorio" ng-controller="mainRepositorio">
  <menu-superior></menu-superior>
  
    <!-- view para conteúdo do user -->
    <div id="principal" class="str_division">
      <!-- EXEMPLO DE ARQUIVOS -->
      <div class="card" ng-repeat="obj in arquivos" >
          <input type="checkbox" ng-click="selectObject(obj)">
          <img ng-init="source = (obj.type == 'directory'?'img/objetos/pasta-100.png':'img/objetos/arquivo-100.png')" src="{{source}}" class="svg-icon">
          <label>{{obj.name}}</label>
      </div>
      </div>

    <!-- view lateral para objeto selecionado -->
    <div id="lateral_direita" class="str_division">
      <div class="text-center" style="margin-top:150px;">
        <div ng-if="selected.length == 0">
          <img src="img/objetos/arquivo-100.png" class="svg-icon" height="100px" width="100px"><br>
          <label>Selecione um arquivo para visualizar as informações.</label>
        </div>
        <!-- se temos apenas um objeto para exibir detalhes -->
        <div ng-if="selected.length > 0">
          <div ng-repeat="item in selected" ng-if="selected.length == 1">
            <div ng-init="tipo_arq = (item.type == 'directory'?'img/objetos/pasta-100.png':'img/objetos/arquivo-100.png')">
              <img src="{{tipo_arq}}" class="svg-icon" height="100px" width="100px"><br>
            <h4><b>{{item.name}}</b></h4><br>
          </div>
            <label>{{item.described}}</label><br>
            <label>Criado em: {{item.date_created_at}}</label><br>
            <label>Modificado em: {{item.date_last_modify}}</label>
          </div>
          <!-- se temos vários objetos para analise -->
          <div ng-if="selected.length > 1">
            <img src="img/objetos/arquivo-100.png" class="svg-icon" height="100px" width="100px"><br>
            <label>{{selected.length}} itens selecionados</label>
          </div>
        </div>
      </div>
        <aside id="" ui-view=""></aside>
      </div>
  <menu-inferior></menu-inferior>
  </div>
