<div class="modal-header">
	<label class="modal-title">{{metodo}} item</label>
	<button class="modal-exit" ng-click="cancel()">X</button>
</div>

<div class="clear">
	<div class="modal-body">
		<div class="box-input input-effect">
            <label class="box-title">Selecione abaixo uma pasta para mover seu objeto:</label>
            <div class="form-group" ng-model="dirName">
            <ui-select theme="bootstrap" style="width:95%;">
                <ui-select-match placeholder="Escolha o diretório...">{{$select.selected.name}}</ui-select-match>
                <ui-select-choices repeat="dir in arquivos | filter: isDirectory">
                 {{dir.name}}
                </ui-select-choices>
            </ui-select>
            </div>
            <br>
			ou <a ng-click="open('sm','modules/repositorio/views/partials/nova_pasta.html',null,'Criar')" style="cursor:pointer">crie uma nova pasta</a>
		</div>
	</div>
</div>

<div class="box-button">
	<button class="btn button-modal" ng-click="moveItem(dirName.name)">{{metodo}}</button>
</div>

