<div>
	<!--	<a href="#notificacoes" class="navbar-botao">Notificações</a>-->
	<!-- observar qual o problema do modal -->
	<div class="dropdown">
		<button class="dropbtn"></button>
	</div>

	<div class="dropdown">
		<button class="dropbtn"></button>
		<div class="dropdown-content-fade">
			<div class="dropdown-content">
				<button ng-click="open('mm','modules/repositorio/views/partials/usuario.html')">Usuários</button>
				<button ng-click="open('mm','modules/repositorio/views/partials/usuario.html')">Configuração Twitter</button>
				<button ng-click="open('mm','modules/repositorio/views/partials/usuario.html')">Configuração Facebook</button>
			</div>
		</div>
	</div>

</div>