<div class="modal-header">
    <label class="modal-title">Criar pasta</label>
    <button style="float:right" ng-click="cancel()">X</button>
</div>
<div class="modal-body">
    <p>Use pastas para guardar os arquivos e se organizar.</p>
    <br>
    <p><input type="text" name="input" placeholder="Digite o nome da pasta..."></p>
    
    <p>Use pastas para guardar os arquivos e se organizar.</p>
    <br>
    <p><input type="text" name="input" placeholder="Digite o nome da pasta..."></p>
</div>
<div class="text-center">
    <button class="btn" ng-click="newFolder()">Criar</button>
</div>
