<div class="modal-header">
    <label class="modal-title">Criar coleta - Twitter</label>
    <button style="float:right" ng-click="cancel()">X</button>
</div>
<div class="modal-body">
    <label>Nome</label>
    <br>
    <input type="text" name="input" placeholder="Digite o nome da coleta..."><br>
    <label>Descrição</label>
    <br>
    <input type="text" name="input" placeholder="Descrição... ( 120 caracteres )"><br>
    <label>Tags para classificação</label>
    <br>
    <input type="text" name="input" placeholder="#politica #futebol #CopaDoMundo..."><br>
    <label>Período</label>
    <br>
    <input type="text" name="input" placeholder="Quantos dias anteriores?"><br>
    <label>Escolha como deseja informar a chave de busca. Subindo um arquivo ou digitando.</label>
    <br>
    <input type="text" name="input" placeholder="[\t\n\Lula,Neymar,Russia\f\r]"><br>
    <button>Suba um arquivo com as definições</button>
    <hr style="width:80%; heigth:3px solid #000;">
    <p>+ Opções avançadas</p>
</div>
<div class="text-center">
    <button class="btn" ng-click="newFolder()">Criar</button>
</div>