<div class="modal-header">
    <label class="modal-title">Configurações Twitter</label>
    <button style="float:right" ng-click="cancel()">X</button>
</div>
<div class="modal-body">
    <p>As API keys e secret de outras contas podem ser forncecidas para aprimorar sua coleta.</p>
    <br>
    <p><input type="text" ng-model="folderName" placeholder="API Secret"></p>
    <p><input type="text" ng-model="folderName" placeholder="API Key"></p>
</div>
<div class="text-center">
    <button class="btn" ng-click="newFolder(folderName)">Adicionar API</button>
</div>
<div class="" style="width:100%; height: 200px; background: red;">
    
</div>