<div class="modal-header">
	<label class="modal-title">Usuário</label>
	<button class="modal-exit" ng-click="cancel()">X</button>
</div>

<div class="clear">
	<div class="modal-body">

		<div class="box-input text-center" style="margin-bottom: 0;">
			<p class="title-section">Informações</p>
		</div>

		<div class="box-input input-effect">
			<label class="box-title">Nome</label>
			<input class="input-text" type="text" placeholder="Nome" value="Bruce" disabled>
			<span class="focus-border"></span>
		</div>

		<div class="box-input input-effect">
			<label class="box-title">Sobrenome</label>
			<input class="input-text" type="text" placeholder="Sobrenome" value="Waynne Junior" disabled>
			<span class="focus-border"></span>
		</div>

		<div class="box-input input-effect">
			<label class="box-title">Data de nascimento</label>
			<input class="input-text" type="text" placeholder="Sobrenome" value="15/03/1973" disabled>
			<span class="focus-border"></span>
		</div>

		<div class="box-input text-center" style="margin-bottom: 0;">
			<p class="title-section">Vinculos</p>
		</div>

		<div class="box-input text-center">

			<div class="box-vinculo">
				<button style="background-color: #fff;">
					<img height="30px" width="30px" src="img/icons/facebook.jpg">
				</button>
				<p class="button-vinculo">
					Vinculado
				</p>
			</div>

			<div class="box-vinculo">
				<button style="background-color: #fff;">
					<img height="30px" width="30px" src="img/icons/twitter.png"/>
				</button>
				<p class="button-vinculo">
					Não vinculado
				</p>
			</div>
		</div>
		<div class="text-center">
		<div class="box-input" style="margin-bottom: 0;">
			<p class="title-section">Estatísticas</p>
		</div>

		<div class="box-estatistica">
			<img height="65px" width="65px" src="img/objetos/pasta-100.png" />
			<p class="box-estatistica-number">4</p>
			<p class="box-estatistica-text">Pastas</p>
		</div>

		<div class="box-estatistica">
			<img height="65px" width="65px" src="img/objetos/arquivo-100.png" />
			<p class="box-estatistica-number">16</p>
			<p class="box-estatistica-text">Coletas</p>
		</div>

		<div class="box-estatistica">
			<img height="65px" width="65px" src="img/objetos/estatisticas-100.png" />
			<p class="box-estatistica-number">25</p>
			<p class="box-estatistica-text">Estatísticas</p>
		</div>
		</div>

		<div class="box-input text-center">
			<a class="box-input-editar">Editar</a> <!-- Vira salvar depois que clica -->
		</div>
	</div>
</div>