<div class="modal-header">
    <label class="modal-title">Vincular Conta</label>
    <button style="float:right" ng-click="cancel()">X</button>
</div>
<div class="modal-body">
    <p>Para fazer coleta com o Facebook / Twitter você precisa vincular sua conta. Deseja fazer isso agora?</p>
    <br>
    <p><input type="text" ng-model="folderName" placeholder="Digite o nome da pasta..."></p>
</div>
<div class="text-center">
    <button class="btn" ng-click="newFolder(folderName)">Criar</button>
</div>
