<a href="#" class="btn btn-tw"><i class="fa fa-twitter"></i> Twitter</a>
</div><br>
<p align="center">ou</p>
      <form class="form" role="form" method="post" action="login" accept-charset="UTF-8" id="login-nav">
      <form class="form" role="form" method="post" action="register" accept-charset="UTF-8">
    <div class="form-group">
            <label class="sr-only" for="exampleInputEmail2">E-mail</label>
            <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Endereço de e-mail" required>
             <input type="name" class="form-control" placeholder="Nome" ng-model="register.user.name" required>
          </div>
         <div class="form-group">
            <input type="email" class="form-control" placeholder="Endereço de e-mail" ng-model="register.user.email" required>
    </div>
    <div class="form-group">
            <label class="sr-only" for="exampleInputPassword2">Senha</label>
            <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Senha" required>
            <input type="password" class="form-control" placeholder="Senha" ng-model="register.user.password" required>
    </div>
    <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">Registrar</button>
            <button class="btn btn-primary btn-block" ng-click="register.register()" >Registrar</button>
    </div>
 </form>
</div>